.breadcrumbs {
  margin-top: 1rem; 
  margin-bottom: 1rem;
  font-size: 1rem;

  &__layout {
    display: flex;
    gap: var(--size-300);
    align-items: center;

    &--item {
      text-decoration: none;
      font-weight: 700;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #222;
      font-family: var(--font-family-body);
      color: #757575;

      a {
        // color: inherit; // inherit color from parent
        text-decoration: none; // remove underline
      }

      // Add "/" after each item except the last
      &:not(:last-child)::after {
        content: "/";
        margin-left: var(--size-300); // optional: small gap
        color: var(--color-text-muted); // optional: style the slash
      }
    }
    
    // &--spacer {
    //   color: var(--color-text-muted);
    //   font-size: var(--size-500);
    // }
  }
}