.breadcrumbs {
  margin-top: 1rem; 
  margin-bottom: 1rem;
  font-size: var(--size-500);

  &__layout {
    display: flex;
    gap: var(--size-300);
    align-items: center;

    &--item {
      text-decoration: none;
      font-family: var(--font-family-heading);
    }
    
    &--spacer {
      color: var(--color-text-muted);
      font-size: var(--size-500);
    }
  }
}