.breadcrumbs {
  margin-top: 1rem; 
  margin-bottom: 1rem;
  font-size: var(--size-400);
  

  &__layout {
    display: flex;
    gap: var(--size-300);
    align-items: center;

    &--item {
        color: var(--color-link);
      }
    
    &--spacer {
      color: var(--color-text-muted);
      font-size: var(--size-500);

    }
  }
}