.card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  // margin-left: 3rem;
  // margin-right: 3rem;
}

.card-grid > * {
  transition:
    transform 0.4s,
    opacity 0.4s;
  box-shadow: 20px 1rem 1rem 0px rgba(0, 0, 0, 0.1);
  background-color: var(--color-primary);
  border-radius: 10px;

  & img {
    border-radius: 10px;
  }
}

.card-grid > *:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  // margin-top: var(--size-500);

  border-bottom: 6px solid #000;

  .card__content {
    // padding: var(--size-200);
    padding: 1rem 1rem 2rem 1rem;

    a {
      color: #000;
      text-decoration: none;
      font-size: 1.5rem;

      h3 {
        font-size: var(--size-600);
      }
    }

    .date {
      display: inline-block;
      margin-top: var(--size-200);
      color: var(--color-dark);
      font-family: var(--font-family-heading);
      font-size: 1.25rem;
    }

    .excerpt {
      margin-top: var(--size-400);
      font-size: 1.125rem;
    }
  }
}

.card--long {
  .card__image {
    background-size: cover;
    background-position: center;
    // height: 200px;
    border-radius: 10px 0 0 10px;
  }
}
