@use "breakpoints" as *;

.card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@include breakpoint(medium) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  text-decoration: none;
  transition: 0.3s ease;

  &__content {
    a {
      color: var(--color-card-heading);
      text-decoration: none;
      font-size: var(--size-600);
    }

    .date {
      display: inline-block;
      margin-top: var(--size-200);
      color: var(--color-card-date);
      font-family: var(--font-family-heading);
      font-size: 1.25rem;
    }

    .excerpt {
      color: var(--color-text-muted);
      margin-top: var(--size-400);
      font-size: 1.125rem;
    }
  }
}

.kyoto-card,
.osaka-card {
  box-shadow: 20px 1rem 1rem 0px rgba(0, 0, 0, 0.1);
  background-color: var(--color-light);

  &:hover {
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 20px 1rem 1rem 0px rgba(0, 0, 0, 0.1);
  }
}

.osaka-card {
  border-top: 5px solid var(--color-dark);

  .card__content {
    padding: 1rem;

    a {
      font-size: 1.75rem;
    }

    .date {
      font-size: 1.25rem;
    }

    .excerpt {
      font-size: 1.125rem;
    }
  }
}

.kyoto-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-200);
  margin-top: 2rem;
  border-top: 5px solid var(--color-dark);

  @include breakpoint(medium) { 
    gap: var(--size-400);
  }

  .card__media {
    background-size: cover;
    background-position: center;
  }

  .card__content {
    padding: var(--size-200) var(--size-200) var(--size-200) 0;

    @include breakpoint(medium) {
      padding: var(--size-400) var(--size-400) var(--size-400) 0;
    }

    a {
      font-size: 1.5rem;
    }

    .date {
      font-size: 1.25rem;
    }
  }

  &:first-child {
    margin-top: 0rem;
  }

  & img {
    border-radius: 10px 0px 0px 10px;
  }
}

.kanazawa-card {
  margin-top: var(--size-600);

  .card__content {
    a {
      color: var(--color-card-heading);
      text-decoration: none;
      margin-top: 2rem;
      font-weight: 700;
    }

    .date {
      font-size: 0.875rem;
    }
  }
}


.tokyo-card {
  p,
  h2 {
    margin-top: 1rem;
  }

  p {
    font-size: 1.125rem;
    color: var(--color-article-text);
  }

  h2 {
    font-size: 2.625rem;
    color: var(--color-article-heading);
  }
}