@use "breakpoints" as *;

.content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  p, ul, ol {
    font-size: 18px;
  }

  p, ul, ol, blockquote {
    color: var(--color-article-text);
  }

  h1,h2,h3,h4,h5,h6 {
    color: var(--color-article-heading);
  }

  
  & > * + * {
    margin-top: var(--size-600);
  }

  ul[class],
  ol[class] {
    padding-left: var(--size-700);
    margin-top: 1rem;
  }

  ul[class] {
    list-style: disc;
  }
  
  ol[class] {
    list-style: decimal;
  } 


  .wp-element-caption {
    font-size: 14px;
    margin-top: var(--size-300);
    padding-left: 1rem;
    padding-right: 1rem;

  }

  .wp-block-group__inner-container {
    & > * + * {
      margin-top: var(--size-600);
    }
  }
}

.grid-content {
  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 1fr minmax(0, 700px) 1fr;

    > * { 
      grid-column: 2;
    }
  }

  .right-expand {
    margin-inline: -1rem;
    
    @include breakpoint(large) {
      grid-column: 2 / 4;
      margin-inline: 0;
    }
  }

  .left-expand {
    margin-inline: -1rem;
  
    @include breakpoint(large) {
      grid-column: 1 / 3;
      margin-inline: 0;
    }
  }

 .full-width {
    margin-inline: -1rem;

    @include breakpoint(large) {
      grid-column: 1 / -1;
      margin-inline: 0;
    }
  }
}