@use "breakpoints" as *;

.theme-toggle {
  display: inline-flex;
  gap: var(--size-200);
  align-items: center;
  padding: 0.2rem;
  background-color: var(--background-color-theme-toggle);
  border-radius: 25px;

  &__option {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;

    label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      cursor: pointer;
      padding: 5px;
      border-radius: 50%;

      svg { 
        width: 100%;
        height: 100%;
        
        path {
          stroke: var(--stroke-color-theme-toggle);
        }
      }
    }

    input[type="radio"]:checked + label {
      background: var(--background-color-theme-toggle-active);
    }

    input[type="radio"] {
      display: none;
    }

  } 
}

// Footer!

.footer-bottom {
  margin-top: 1rem;
  display: flex; 
  flex-direction: column;
  gap: 1rem;

  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    color: var(--color-text-muted);
    font-family: var(--font-family-heading);
  }
}

// .theme-toggle__option input[type="radio"]:checked+label {
//   opacity: 0.7;
// }

// .svg-icon {
//   fill: #000;
//   width: 100%;
//   height: 100%;
//   transition: fill 0.3s ease;
// }

// .theme-toggle__option input[type="radio"]:checked+label .svg-icon {
//   fill: #007bff;
// }