footer {
  padding-top: var(--size-500);
  padding-bottom: var(--size-500);
}

.footer-info {
  color: #000;
  font-family: sans-serif;
  font-size: var(--size-500);
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.footer-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--color-primary);
  padding: var(--size-400);
}

.footer-links a {
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer-layout {
    flex-direction: row;
    padding: var(--size-500);
  }
}