@use "breakpoints" as *;

footer {
  padding-top: var(--size-800);
  padding-bottom: var(--size-800);
  margin-top: var(--size-500);
  background-color: var(--background-color-footer);

  .footer-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-top: var(--size-400);
    padding-bottom: var(--size-400);

    @include breakpoint(medium) {
      flex-direction: row;
      padding-top: var(--size-500);
      padding-bottom: var(--size-500);
    }

    .footer-menus {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3rem;

      .footer-info {
        color: var(--color-footer-heading);
        font-family: var(--font-family-heading);
        font-size: var(--size-500);
      }

      .footer-list {
        margin-top: 1rem;
        
        a {
          color: var(--color-footer-link);
          
          &:hover,
          &:active {
            color: var(--color-footer-link-active);
          }
        }
      }
    }

    .footer-links a {
      color: var(--color-footer-link);
      text-decoration: none;

      &:hover,
      &:active {
        color: var(--color-footer-link-active);
      }
    }

    .svg-logo {

      &__stars,
      &__box {
        fill: var(--color-primary);
      }

      &__box-text {
        fill: var(--color-light);
      }

      &__text {
        fill: var(--color-light);
      }
    }
  }

  .footer-bottom {
    .copyright {
      color: var(--color-footer-copyright);
    }
  }
}
