@use "breakpoints" as *;

// .background-image-banner {
//   background-image: url("../images/banner.jpg");
//   background-size: cover;
//   height: 120vh;

//   h2 {
//     display: flex;
//     justify-content: center;
//   }
// }

// .banner-link {

//   a:active,
//   a:link {
//     color: #fff;
//     text-decoration: none;
//   }
// }

// CAMERA SECTION
.camera-section {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 6rem;

  .camera-posts {
    order: -1; // Change the order of .camera-posts
    border-top: 5px solid #000;
  }

  .cameras {
    order: -2; // Change the order of .cameras
  }

  .deals {
    border-top: 5px solid #000;

    @include breakpoint(medium) {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

// DESKTOP SECTION
@include breakpoint(medium) {
  .camera-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    .camera-posts {
      order: 0; 

      h2 {
        font-size: 2rem;
      }
    }

    .cameras {
      order: 0; // Reset the order of .cameras
    }
  }
}


// @include breakpoint(small){
//   .camera-section {
//     display: grid;
//     grid-template-columns: 1fr 2fr 1fr;
//     grid-template-rows: 2fr;
//     margin-top: 6rem;
//     margin-bottom: 6rem;
//   }
// }

// HOME SECTION
.home-section {
  border-top: 8px solid #000;
  margin-top: 5rem;
  margin-bottom: 5rem;

  h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.25rem;
  }
}

@include breakpoint(medium) {
  .home-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4rem;
    margin-bottom: 5rem;
    gap: 3rem;
  }
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  margin-top: 4rem;
  margin-bottom: 5rem;
  gap: 3rem;
}

.home-grid-right {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

// SECURITY SECTION
.security {
  border-top: 8px solid #000;
  margin-top: 5rem;
  margin-bottom: 5rem;

  .card {
    margin-top: 2rem;
  }

  h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.25rem;
  }
}