h1 {
  font-size: var(--size-900);
}

h2 {
  font-size: var(--size-800);
}

h3 {
  font-size: var(--size-700);
}

h4 {
  font-size: var(--size-600);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend", sans-serif;
}

p,
ul,
ol {
  font-family: "Catamaran", sans-serif;
}

h2,
h3 {
  color: var(--color-dark);
  font-weight: bold;
}

header {
  background-color: #ffffff;
}

header .nav-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .main-navigation {
  display: flex;
  gap: 0.5rem;
}

body {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

footer {
  background: var(--color-dark);
  color: #ffffff;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f3ccaa;
}

/* Single.php */

.heading {
  display: flex;
  flex-direction: column;
  border-top: 10px solid #000;
  gap: 1rem;
  margin-top: 1.5rem;
  background-color: #e4bb97;
}

.heading__content {
  margin-top: 1rem;
}

.heading__content .date {
  font-size: 20px;
  color: var(--color-tertiary);
}

.heading__image {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.heading__image img {
  width: 100%;
  height: auto;
}

/* DESKTOP */
@media screen and (min-width: 768px) {

  .heading__content,
  .heading__image {
    flex: 1;
  }

  .heading__image {
    margin-left: 0;
    margin-right: 0;
  }

  .heading {
    flex-direction: row;
  }
}

/* Content */
.content>*+* {
  margin-top: 1rem;
}

.content>*+* {
  margin-top: 2rem;
}

.content {
  max-width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #e4bb97; */
}

@media screen and (min-width: 768px) {
  .content {
    max-width: 800px;
  }
}

/* CARDS */

.card__content a {
  color: #000;
  text-decoration: none;
}

.card {
  margin-top: 3rem;
  border-top: 10px solid #000;
  padding-top: 1rem;
  background-color: #e4bb97;
  box-shadow: inset 1px -12rem 1rem 0px rgba(0, 0, 0, 0.1);
}

.card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* FOOTER */

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-info {
  color: #000;
  font-family: sans-serif;
  font-size: 20px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.footer-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  background-color: #e4bb97;
}

.footer-links a {
  color: #000;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}