html {
  font-size: 16px;
}

body {
  background-color: var(--color-body);
  display: flex;
  flex-direction: column;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  
  // Note: Color on container moved to body
  // background-color: #f3ccaa;
}