header {
  background-color: var(--color-primary);
  
  .nav-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    gap: 1rem;
    position: relative;

    .main-navigation {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  ul.primary-menu {
    display: none; 
    visibility: hidden;

   @media screen and (min-width: 768px) { 
      height: 100%; 
      visibility: visible;
      display: flex;
      align-items: center;
      gap: var(--size-200);
      font-size: var(--size-500);
      font-weight: 700;
      font-family: "Lexend", sans-serif;
    } 

    > li {
      height: 100%; 
      display: flex;
      align-items: center;
 
    }

    > li > a {
      font-size: 1rem;
      height: 100%;
      display: flex;
      align-items: center;
          padding-left: var(--size-200);
            padding-right: var(--size-200);
            border-bottom: 5px solid transparent;
            border-top: 5px solid transparent;
    }

    > li:hover {
      background: var(--color-body);
    }

    > li:hover > a {
      border-bottom: 5px solid var(--color-dark);
    }

    > li:hover > .sub-menu {
      display: block;
    }

    .sub-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
        
      /* Adjust as needed */
      z-index: 1000;
      background: var(--color-primary);
      padding: var(--size-400);
    }

    // .sub-menu.show-sub-menu {
    //   display: block;
    // }
  }

  // This is global for desktop and mobile menu;
  a {
    color: #000;
    text-decoration: none;
  }
}
