body.no-scroll {
  overflow: hidden;
}

.mobile-nav-drawer {
  background-color: var(--color-body);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: var(--color-body);
  transform: translateX(-100%);

  &.open {
    transform: translateX(0);
    visibility: unset;
  }

  .mobile-nav-header {  
    display: flex; 
    height: 5rem;
    align-items: center;

    .hamburger {
      display: flex;
    }
  }

  .mobile-nav {
    overflow-y: auto; // Ensure the nav itself can scroll
    padding-top: var(--size-400);
    padding-bottom: var(--size-600);

    .mobile-menu {
      & > li {  
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-top: var(--size-300);
        gap: var(--size-300);

        & > a {
          flex: 1;
          font-size: var(--size-600);
        }

        .chevron {
          display: inline-block;
          cursor: pointer;
          padding-left: var(--size-400);
          padding-right: var(--size-400);
          transform: rotate(0deg);
          transition: rotate 0.3s ease-out;

          &.rotated {
            transform: rotate(180deg);
          }
        }

        .sub-menu {
          flex-basis: 100%;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;
          
          &.open {
            max-height: 500px; // Adjust this value based on your content
          }

          a {
            font-size: var(--size-400);
          }
        }
      }
    }
  }
}

.admin-bar .mobile-nav-drawer {
  top: 46px;
}