

body.no-scroll {
  overflow: hidden;
}

.nav-hamburger {
  cursor: pointer;
        
  svg path {
    fill: var(--color-dark);
  }
}

.mobile-nav-drawer {
  background-color: var(--color-light);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  // background: var(--background-color-body);
  transform: translateX(-100%);

  &.open {
    transform: translateX(0);
    visibility: unset;
  }

  .mobile-nav-header {  
    display: flex; 
    height: 5rem;
    align-items: center;

    .hamburger {
      display: flex;

      svg path {
          fill: var(--color-dark);
        }
    }
  }

  // .mobile-menu {
    // &>li {
    //   display: flex;
    //   align-items: center;
    //   flex-wrap: wrap;
    //   padding-top: var(--size-300);
    //   gap: var(--size-300);

    //   &>a {
    //     flex: 5 1 0%; // Grow 5x, shrink, and auto-basis
    //     font-size: var(--size-600);
    //   }
    // }
  // }
}

.admin-bar .mobile-nav-drawer {
  top: 46px;
}