@use "breakpoints" as *;

section {
  margin-top: var(--size-900);
}

// .home .hokkaido-section {
//    margin-top: var(--size-700); 
// }

.hokkaido-section {
  display: flex;
  gap: var(--size-600);
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 6rem;

  @include breakpoint(medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  // .col-1 {
  //   order: -1; // Change the order of .camera-posts
    
  //   @include breakpoint(medium) { 
  //     order: 0; 
  //   }
  // }

  // .col-2 {
  //   order: -2; // Change the order of .cameras

  //   @include breakpoint(medium) { 
  //     order: 0; 
  //   }
  // }
}

.shikoku-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-600);

  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }
}


.card-column {
  display: flex;
  flex-direction: column;
}

.konto-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-600);
  

  @include breakpoint(medium) {
    grid-template-columns: repeat(3, 1fr);
  }
}



// SECURITY SECTION
.security {
  border-top: 8px solid var(--color-section-separator);
  margin-top: 5rem;
  margin-bottom: 5rem;

  .card {
    margin-top: 2rem;
  }

  h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.25rem;
  }
}