@use "breakpoints" as *;

.heading {
  display: flex;
  flex-direction: column;
  border-top: 10px solid var(--color-section-separator);
  gap: 1rem;

  &__content {
    padding: var(--size-200) 1rem;

    @include breakpoint(medium) {
      padding: var(--size-200) 0;
    }

    h1 {
      color: var(--color-article-heading);
      font-size: var(--size-700);
      line-height: 1.4;
  
      @include breakpoint(medium) {
        font-size: var(--size-900);
      }
    }

    .date {
      margin-top: var(--size-300);
      font-size: var(--size-500);
      color: var(--color-article-date);
      font-family: var(--font-family-heading);
    }
  }
}


/* DESKTOP */
@include breakpoint(medium) {
  .heading {
    flex-direction: row;
  }

  .heading__content,
  .heading__image {
    flex: 1;
  }
}