@use "breakpoints" as *;

.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__content {
    padding: var(--size-200) 0;
    max-width: 700px;
    margin: 0 auto;

    @include breakpoint(medium) {
      padding: var(--size-200) 0;
    }

    h1 {
      color: var(--color-article-heading);
      font-size: var(--size-800);
      line-height: 1.2;
  
      @include breakpoint(medium) {
        font-size: 4.25rem
      }
    }

    .date {
      margin-top: var(--size-400);
      color: var(--color-card-date);
      font-family: var(--font-family-body);
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}


/* DESKTOP */
@include breakpoint(medium) {

  .heading {
    display: grid;
    grid-template-rows: auto auto; // Two rows: one for the image, one for the content
  }

  .heading__image {
    // width: 100vw;
    // margin-left: calc(-50vw + 50%);
    height: 480px; 
    overflow: hidden;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // crops the image nicely
      display: block;
    }
  }

  .heading__content {
    grid-row: 2; // Place the content in the second row
  }
}