@use "breakpoints" as *;

.heading {
  display: flex;
  flex-direction: column;
  border-top: 10px solid var(--color-section-separator);
  gap: 1rem;

  &__content {
    padding: var(--size-200) 1rem;

    @include breakpoint(medium) {
      padding: var(--size-200) 0;
    }

    h1 {
      color: var(--color-article-heading);
      font-size: var(--size-700);
      line-height: 1.4;
  
      @include breakpoint(medium) {
        font-size: var(--size-900);
      }
    }

    .date {
      margin-top: var(--size-300);
      font-size: var(--size-500);
      color: var(--color-article-date);
      font-family: var(--font-family-heading);
    }
  }
}


/* DESKTOP */
@include breakpoint(medium) {

  .heading {
    display: grid;
    grid-template-rows: auto auto; // Two rows: one for the image, one for the content
  }

  .heading__image {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 800px; // adjust as needed
    overflow: hidden;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // crops the image nicely
      display: block;
    }
  }

  .heading__content {
    grid-row: 2; // Place the content in the second row
  }
}