@use "breakpoints" as *;

h1 {
  font-size: var(--size-900);
  font-weight: bold;
}

h2 {
  font-size: var(--size-800);
  font-weight: bold;
}

h3 {
  font-size: var(--size-700);
  font-weight: bold;
}

h4 {
  font-size: var(--size-600);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-family: var(--font-family-heading);
  line-height: 1.1;
}

p,
ul,
ol,
blockquote,
figure,
figcaption {
  font-family: var(--font-family-body);
  color: var(--color-text);
  font-size: var(--size-500);
}

.section-heading {
  padding-top: var(--size-300);
  border-top: 1px solid var(--color-border);
  

  &.centered {
    h2, h3, h4 {
      text-align: center;
    }
  }

  h2, h3, h4 {
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--font-family-body);
    color: var(--color-muted);

    a {
      text-decoration: none;
      text-wrap: nowrap;
      font-size: 14px; 

      @include breakpoint(medium) {
        font-size: 16px;
      }
    } 
  }
}

form {
  input {
    font-family: var(--font-family-body);
  }
}

button {
  font-family: var(--font-family-body);;
}





     