// No changes needed if this file only contains variable definitions
:root {
  --color-dark: #000000;
  --color-tertiary: #4a5568;

  --font-family-heading: "Lexend", sans-serif;
  --font-family-body: sans-serif;

  --size-100: 0.579rem;
  --size-200: 0.694rem;
  --size-300: 0.833rem;
  --size-400: 1rem;
  --size-500: 1.44rem;
  --size-600: 1.728rem;
  --size-700: 2.074rem;
  --size-800: 2.488rem;
  --size-900: 2.986rem;
}