// No changes needed if this file only contains variable definitions
:root {
  // Colors 
  --blue-50: #EFF6FF; 
  --blue-100: #DBEAFE; 
  --blue-200: #BFDBFE; 
  --blue-300: #93C5FD;
  --blue-400: #60A5FA;
  --blue-500: #3B82F6;
  --blue-600: #2563EB;
  --blue-700: #1D4ED8;
  --blue-800: #1E40AF;
  --blue-900: #1E3A8A;

  --slate-50: #F8FAFC; 
  --slate-100: #F1F5F9; 
  --slate-200: #E2E8F0; 
  --slate-300: #CAD6E2;
  --slate-400: #90A1B9; 
  --slate-500: #62748E; 
  --slate-600: #45556D;
  --slate-700: #314158; 
  --slate-800: #1D283D; 
  --slate-900: #0F172C;
  --slate-950: #020618;

  // Themes
  // --color-dark: #000000;
  // --color-light: #ffffff;
  // --color-primary: #dbb797;
  // --color-body: #c4a182;
  // --color-text-muted: #535d6b;
  // --color-accent: #1d4ed8;
  // --color-article-heading: #1a1919;
  // --color-article-text: #1a1919;
  // --color-card-text: #1a1919;
  // --color-card-heading: #1a1919;
  // --color-card-date: #1a1919;
  // --color-footer-heading: #ffffff;
  // --color-footer-lists: #ffffff;
  // --color-header-heading: #ffffff;

  --color-dark: #000000;
  --color-light: #ffffff;
  --color-primary: var(--blue-500);
  --color-body: var(--slate-50);
  --color-accent: var(--blue-600);
  --color-link: var(--blue-600);
  --color-link-active: var(--blue-800); // adding
  --color-text-muted: var(--slate-500);
  --color-article-heading: #000000;
  --color-article-text: #000000;
  --color-nav-links: var(--slate-800);
  --color-card-text: #000000;
  --color-card-heading: #000000;
  --color-card-date: var(--blue-800);
  --color-card-border: var(--slate-200); // adding
  --color-footer-heading: #ffffff;
  --color-footer-lists: #ffffff;
  --color-header-heading: #ffffff;
  // adding...
  --color-text-muted: var(--slate-600);
  --background-color-header: #ffffff; 
  --color-header-link: var(--slate-600);
  --color-header-link-active: var(--slate-900);
  --background-color-footer: #000000;
  --background-color-button-primary: #000000;
  --background-color-button-primary-active: #000000;
  --color-button-primary-text: #ffffff;
  --background-color-button-outline: #ffffff;
  --background-color-button-outline-active: #f1f1f1; 
  --color-button-primary-outline-text: #000000;


  // Fonts
  --font-family-heading: "Lexend", sans-serif;
  --font-family-body: "Catamaran", sans-serif;
  --font-family-link: "outfit", sans-serif;

  // Sizes
  --size-100: 0.579rem;
  --size-200: 0.694rem;
  --size-300: 0.833rem;
  --size-400: 1rem;
  --size-500: 1.44rem;
  --size-600: 1.728rem;
  --size-700: 2.074rem;
  --size-800: 2.488rem;
  --size-900: 2.986rem;
}

html.dark-mode {
  --color-dark: #d1d0d0;
  --color-light: #000000;
  --color-primary: #3d3d3d;
  --color-body: #272524;
  --color-text-muted: #969daa;
  --color-accent: #3b82f6;
  --color-link: #4c77e6;
  --color-article-text: #c7c7c7;
  --color-article-heading: #d1d0d0;
  --color-card-text: #c7c7c7;
  --color-card-heading: #d1d0d0;
  --color-card-date: #d1d0d0;
  --color-footer-heading: #272524;
  --color-footer-lists: #272524;
  --color-header-heading: #272624;
}