:root {
     /**
     * 2nd Green Palette
     */
     --color-dark: #000000;
     --color-light: #ffffff;
     --color-primary: #bdb8ad;
     --color-body: #293627;
     --color-accent: #1d4ed8;
     --color-text-muted: #535d6b;
     --color-heading: #bdb8ad;
     --color-text: #bdb8ad;
   
     /* Links */
     --color-link: #bdb8ad;
     --color-link-active: #bdb8ad;
   
     /* Header */
     --background-color-header: #000000; 
     --background-color-desktop-sub-menu: #000000;
     --color-header-link: #bdb8ad; 
     --color-header-link-active: #bdb8ad; 
     --color-header-svg-box-stars: #bdb8ad;
     --color-header-svg-text: #bdb8ad;
     --color-header-svg-box-text: #000000;
   
     /* Footer */
     --background-color-footer: #000000;
     --color-footer-heading: #bdb8ad;
     --color-footer-link: #bdb8ad;
     --color-footer-link-active: #bdb8ad;
     --color-footer-copyright: #bdb8ad;
     --color-footer-svg-box-stars: #bdb8ad;
     --color-footer-svg-text: #bdb8ad;
     --color-footer-svg-box-text: #000000;
   
     /* Separator */
     --color-section-separator: #000000;
   
     /* Article */
     --color-article-heading: #bdb8ad;
     --color-article-text: #bdb8ad;
     --color-article-date: #bdb8ad;
   
     /* Card */
     --color-card-heading: #bdb8ad;
     --color-card-text: #bdb8ad;
     --color-card-date: #bdb8ad;
     --color-card-border: #bdb8ad;
     --background-color-card: #4a5a48;
     /* Buttons */
     --background-color-button-primary: #293627;
     --background-color-button-primary-active: #293627;
     --color-button-primary-text: #bdb8ad;
   
     --background-color-button-outline: #332720;
     --background-color-button-outline-active: #332720;
     --color-button-primary-outline-text: #332720;
   
     /* Pagination */
   
     --color-pagination: #332720;
     --color-pagination-active: #332720;
   
    /* Search Bar */
     --color-search-bar-background: #1a1919;
     --color-search-bar-text: #fff;
   
     /* Icon */
     --color-icon: #DFD1BC;
     --color-icon-active: #DFD1BC;
     /* Light/Dark theme toggle */
     --background-color-theme-toggle: var(--color-primary);
     --background-color-theme-toggle-active: #858077;
     --stroke-color-theme-toggle: #625123;
   
     /*  Product  */
   
   --color-product-background: #4a5a48;
   --color-product-text: #bdb8ad;
   --color-product-border: #bdb8ad;
   }