:root {
   /**
   *  2nd Blue Palette
   */
   --color-dark: #000000;
   --color-light: #ffffff;
   --color-primary: #334a68;
   --color-body: #1F2B3E;
   --color-accent: #1d4ed8;
   --color-text-muted: #535d6b;
   --color-heading: #e7e7e7;
   --color-text: #e7e7e7;
 
   /* Links */
   --color-link: #e7e7e7;
   --color-link-active: #e7e7e7;
 
   /* Header */
   --background-color-header: #000000; 
   --background-color-desktop-sub-menu: #000000;
   --color-header-link: #e7e7e7; 
   --color-header-link-active: #e7e7e7; 
   --color-header-svg-box-stars: #e7e7e7;
   --color-header-svg-text: #e7e7e7;
   --color-header-svg-box-text: #000000;
 
   /* Footer */
   --background-color-footer: #000000;
   --color-footer-heading: #e7e7e7;
   --color-footer-link: #e7e7e7;
   --color-footer-link-active: #e7e7e7;
   --color-footer-copyright: #e7e7e7;
   --color-footer-svg-box-stars: #e7e7e7;
   --color-footer-svg-text: #e7e7e7;
   --color-footer-svg-box-text: #000000;
 
   /* Separator */
   --color-section-separator: #000000;
 
   /* Article */
   --color-article-heading: #e7e7e7;
   --color-article-text: #e7e7e7;
   --color-article-date: #e7e7e7;
 
   /* Card */
   --color-card-heading: #e7e7e7;
   --color-card-text: #e7e7e7;
   --color-card-date: #e7e7e7;
   --color-card-border: #e7e7e7;
   --background-color-card: #334a68;
   /* Buttons */
   --background-color-button-primary: #1F2B3E;
   --background-color-button-primary-active: #1F2B3E;
   --color-button-primary-text: #e7e7e7;
 
   --background-color-button-outline: #332720;
   --background-color-button-outline-active: #332720;
   --color-button-primary-outline-text: #332720;
 
   /* Pagination */
 
   --color-pagination: #332720;
   --color-pagination-active: #332720;
 
  /* Search Bar */
   --color-search-bar-background: #1a1919;
   --color-search-bar-text: #fff;
 
   /* Icon */
   --color-icon: #1F2B3E;
   --color-icon-active: #1F2B3E;
   /* Light/Dark theme toggle */
   --background-color-theme-toggle: var(--color-primary);
   --background-color-theme-toggle-active: var(--color-body);
   --stroke-color-theme-toggle: #332720;
 
 
 /*  Product  */
 
 --color-product-background: #334a68;
 --color-product-text: #e7e7e7;
 --color-product-border: #e7e7e7;
 
 }