:root {
  --color-dark: #000000; // General purpose tokens
  --color-light: #ffffff;
  --color-primary: var(--blue-500);
  --color-body: var(--slate-50);
  --color-accent: var(--blue-600);
  --color-text-muted: var(--slate-500);
  --color-heading: var(--slate-900);
  --color-text: var(--slate-800);

  /* General-purpose Background Tokens */
  --background-50: #ffffff;
  --background-100: var(--slate-50);
  --background-200: var(--slate-100);
  --background-300: var(--slate-200);
  --background-400: var(--slate-300);

  /* Links */
  --color-link: var(--blue-600); // Semantic tokens
  --color-link-active: var(--blue-800);

  /* Header */
  --background-color-header: #FFFFFF;
  --background-color-desktop-sub-menu: var(--slate-50);
  --color-header-link: var(--slate-600);
  --color-header-link-active: var(--slate-900);
  --color-header-svg-box-stars: var(--blue-500);
  --color-header-svg-text: var(--slate-800);
  --color-header-svg-box-text: var(--slate-50);

  /* Footer */
  --background-color-footer: var(--slate-900);
  --color-footer-heading: var(--slate-50);
  --color-footer-link: var(--slate-300);
  --color-footer-link-active: var(--slate-100);
  --color-footer-copyright: var(--slate-400);
  --color-footer-svg-box-stars: var(--blue-500);
  --color-footer-svg-box-text: var(--slate-50);
  --color-footer-svg-text: var(--slate-50);

  /* Separator */
  --color-section-separator: var(--slate-900);

  /* Article */
  --color-article-heading: var(--slate-900);
  --color-article-text: var(--slate-800);
  --color-article-date: var(--slate-600);

  /* Card */
  --color-card-heading: var(--slate-900);
  --color-card-text: var(--slate-600);
  --color-card-date: var(--blue-800);
  --color-card-border: var(--slate-200); 
  --background-color-card: #ffffff;

  /* Buttons */
  --background-color-button-primary: var(--blue-500);
  --background-color-button-primary-active: var(--blue-700);
  --color-button-primary-text: var(--slate-50);
  
  --background-color-button-outline: #ffffff;
  --background-color-button-outline-active: #f1f1f1; 
  --color-button-primary-outline-text: #000000;

  /* Icon */
  --color-icon: var(--slate-600);
  --color-icon-active: var(--blue-800);

  /* Light/Dark theme toggle */
  --background-color-theme-toggle: var(--slate-200);
  --background-color-theme-toggle-active: var(--slate-300);
  --stroke-color-theme-toggle: var(--slate-900);
}